h3 Education
div.line_break.resume_line_break

p.resume_object
	|Linwood College
	ul
		li
			b Time Period: 
			|2010-2014

p.resume_object
	|University of Canterbury
	ul
		
		li
			b Time Period: 
			|2015-Present
		li
			b Degree: 
			|Bachelor of Science

		li
			b Major: 
			|Computer Science
