h3 Skills
div.line_break.resume_line_break

p.resume_object
	|Computer Science / Engineering
	ul
		li Artificial Intelligence 
		li Embedded Systems
		li Compiler Development
		li Network Engineering

p.resume_object
	|Mathematics
	ul
		li Discrete Mathematics
		li Graph Theory
		li Cryptography
		
p.resume_object
	|Software Development
	ul
		li Software Design
		li C++ / Java / Swift / Python / Javascript
		li Agile Software Development
		li Version Control - Git / SVN
		
p.resume_object
	|Web Development
	ul
		li HTML5 / CSS3
		li Bootstrap
		li PHP
		li Javascript / NodeJS

p.resume_object
	|Databases
	ul
		li Oracle Database
		li MySQL
