h3 Skills
div.line_break.resume_line_break

p.resume_object
	|Web Development
	ul
		li HTML5 / CSS3
		li CSS Frameworks - Bootstrap
		li Front-end Frameworks (Angular 2+, Vue)
		li Back-end Frameworks (NodeJS, PHP, Flask)

p.resume_object
	|DevOps
	ul
		li Continuous Deployment with Jenkins
		li Docker
		li Issue Tracking & Agile Management with Jira
		li Deploying applications to PaaS providers, such as Azure and Heroku 

p.resume_object
	|Software Development
	ul
		li Software Design
		li Java / C#  / Swift / Python / Javascript
		li Agile Software Practices
		li Git Version Control

p.resume_object
	|Computer Science
	ul
		li Artificial Intelligence 
		li Embedded Systems
		li Compiler Development
		li Network Engineering
