h3 Subjects
div.line_break.resume_line_break

p.resume_object
	|Semester One - 2017
	ul
		li Internet Technology and Engineering
		li Embedded Systems 1
		li Software Engineering II
		li Software Engineering Group Project
