h3 Subjects
div.line_break.resume_line_break

p.resume_object
	|Semester Two - 2017
	ul
		li Software Engineering Group Project
		li Web Computing Architectures
		li Data and Network Security
		li Operating Systems