extends layout-sub

block custom-head
  //No Attrs
  
block content
  //Contact form
  div.contact_form_area#contact_form
    div(v-if="hasResult && !hasError")
      div.alert.contact-alert-success(role='alert').alert-success.alert Message sent

    div(v-if="hasResult && hasError")
      div.alert.contact-alert-success(role='alert').alert-danger.alert Failed to send message. Try using an alternate contact method.
      
    h1 Get In Touch
    form.contact_form(method='post', action='/contact', v-on:submit.prevent="formSubmitted()")
      div.form-group
        label(for="name_contact") Your Name
        input.form-control(type="text", id="name_contact", placeholder="Name", name="name_contact", v-model="name" required="")
        
      div.form-group
        label(for="email_contact") Your Email
        input.form-control(type="email", id="email_contact", placeholder="Email", name="email_contact", v-model="email" required="")
      
      div.form-group
        label(for="message_contact") Your Message
        textarea.form-control(id="message_contact", rows="3", name="message_contact", v-model="message" required="")
        
      button.btn.btn-default(type='submit')
        |Submit
        span(v-if="formWasSubmitted")
          |&nbsp;
          i.fa.fa-spinner.fa-spin
              
  .contact_desc_area
    h1 Alternate Contact
    p
      p.contactDetail
        strong Email&nbsp;
        |me@michaelrausch.nz
        
      p.contactDetail
        strong Phone&nbsp;
        |+64279529554

  script(src="./js/contact.js")