extends layout-main

block custom-head
  //script(src='/js/<>.js')
  
block content
  //About Me Section
  center#about_me
    .alert#alert-bar  
    
    h2 About Me
    p.about_paragraph Hi, I’m Michael, a final-year Computer Science student studying at the University of Canterbury. I am seeking an internship that will allow me to grow and develop both my technical and professional skills in a real-world environment. I particularly enjoy building mobile and web applications, however, I'm also looking to explore other areas such as DevOps and security.
    
      .cta_text.home_cta
        a.button(href="/contact") Contact Me
  //End About Me Section
  
  .line_break
  
  
  //Begin Skills Section
  #my_skills
    .row
      //Row Headers
      .col-md-4.skills_header SKILLS
      .col-md-4.skills_col_header Languages
      .col-md-4.skills_col_header Tools

    .row
      .col-md-4 

      // Languages
      .col-md-4
        ul
          li Java
          li Python
          li Javascript
          li C#
          li Swift

      // Tools
      .col-md-4
        ul
          li Git
          li Jira / Agilefant
          li *nix Operating Systems
          li Jenkins / TravisCI
          li Docker

    .cta_text.home_cta
      a.button(href="/resume") View Resume

    
