header {
	width:100%;
	height:520px;
	background-color: #292D37;
}

/* Headers on sub pages (other than home)*/
.sub_page_header {
	width:100%;
	height:400px;
}

/* Default Link Styling*/
a {
	text-decoration: none;
	color: #fff;
}

a:visited {
	color:#fff;
}

a:hover, a:active {
	color:#f0f0f0;
}

p {
	padding: 0;
	margin:0;
}

h2 {
	line-height: 1.2em;
	font-family: Montserrat;
	font-size: 32px;
	text-transform: none;
	letter-spacing: 0;
	font-weight: 400;
	font-style: normal;
}

/* Line used to break up sections on home page*/
.line_break {
	width:1000px;
	height:1px;
	margin:auto;
	margin-top: 60px;
	background-color:#DBDBDB;
}

/* Container for google maps*/
#my_location {
	padding-top: 50px;
}

#map-canvas {
	width:100%;
	height:350px;
	padding: 0;
	margin:0;
}

/* Menu */
header .menu {
	list-style-type: none;
	float: right;
	padding-top: 30px;
	margin-right:50px;
}

header .menu li {
	display: inline;
	margin: 0;
	padding: 0;
	padding-left:35px;
	color:#E6E6E6;
	font-family: Montserrat, sans-serif;
	font-size: 13px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	font-weight: 400;
	font-style: normal;
	line-height: 1em;
	cursor: hand;
}

header .menu li:hover {
	color:white;
}

/* /Menu */

/* Header Styles */
header .header_text {
	position: relative;
	height:540px;
	top:100px;
}

header .header_text .main_heading {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 60px;
}

header .header_text .main_heading h1 {
	padding:0;
	margin:0;
	line-height: 1em;
	font-family: Montserrat, sans-serif;
	font-size: 68px;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-weight: 700;
	font-style: normal;
	color: #fff;
}

header .header_text center p {
	color:white;
	line-height: 1.5em;
	font-family: Montserrat;
	font-size: 24px;
	text-transform: none;
	letter-spacing: 1px;
	font-weight: 400;
}

/* /Header Styles*/

/* Sub page header */

.sub_page_header .menu {
	list-style-type: none;
    float: right;
    padding-top: 30px;
    margin-right: 50px;

}

.sub_page_header .menu li {
	display: inline;
	margin: 0;
    padding: 0;
    padding-left:35px;
    color:#E6E6E6;
    font-size:14px;
    font-family: Montserrat, sans-serif;
	font-size: 13px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	font-weight: 400;
	font-style: normal;
	line-height: 1em;
	cursor: pointer;
	cursor: hand;
}

.sub_page_header .menu li:hover {
	color:white;
}

/* /Menu */

.sub_page_header .header_text {
	position: relative;
	height:140px;
	top:57px;

}

.sub_page_header .header_text .main_heading {
	width: 1100px;
	margin-left:auto;
	margin-right:auto;
	padding-top:100px;
}

.sub_page_header .header_text .main_heading h1 {
	padding:0;
	margin:0;
	line-height: 1em;
	font-family: Montserrat, sans-serif;
	font-size: 68px;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-weight: 700;
	font-style: normal;
	color: #fff;
}

.sub_page_header .header_text center p {
	color:white;
	line-height: 1.5em;
	font-family: Montserrat;
	font-size: 24px;
	text-transform: none;
	letter-spacing: 1px;
	font-weight: 400;
}

.top_subheader {
	padding-top: 50px;
}

/*/sub page header*/

/* Call to action buttons used on home page*/
.cta_buttons {
	padding-top: 50px;
}

.home_cta {
	padding-top: 0px;
	margin: 0;
}

.first {
	margin-right:50px;
}

.button {
	border: 2px solid #fff;
	color: white;

	font-family: Montserrat;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 400;
	font-style: normal;
	text-decoration: none;
	text-align: center;

	padding-top:13px;
	padding-bottom:13px;
	padding-left:30px;
	padding-right:30px;

	-webkit-transition: color .3s, background-color .3s; /* For Safari 3.1 to 6.0 */
    transition: color .3s, background-color .3s;

}

.cta_text .button {
	color:black;
	border: 2px solid #000;
}

.cta_text .button:hover {
	color: white;
	background-color: black;
}

.cta_text {
	width:100%;
	text-align: center;
	margin-top: 70px;
}

a.button {
	text-decoration: none;
}

.button:hover {
	color:black;
	background-color: white;
}

.content {
	width:1000px;
	margin:auto;
}

/* /Call to action buttons*/

/* About Me */
.content #about_me {
	padding-top: 50px;
}

.content #about_me p {
	width:	700px;
	font-family: Montserrat;
	font-size: 18px;
	line-height: 1.6em;
	letter-spacing: 0px;
	font-weight: 400;
	font-style: normal;
	color: rgba(26,26,26,.6);
}

/* /About Me */

/* Skills Area */
#my_skills {
	padding-top: 50px;
}

.skills_header {
	line-height: 1.2em;
	font-family: Montserrat;
	font-size: 22px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 400;
	font-style: normal;
}

.skills_col_header {
	line-height: 1.2em;
	font-family: Montserrat;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 600;
	font-style: normal;
}

.col-md-4 ul li {
	font-family: Montserrat;
	font-size: 18px;
	line-height: 1.6em;
	letter-spacing: 0px;
	font-weight: 400;
	font-style: normal;
	color: rgba(26,26,26,.6);
}

/* /Skills Area */

/* Coming Soon Text*/
.coming_soon_project {
	padding: 70px 0px 10px 0px;
	text-align: center;
	font-size: 50px;
}

.coming_soon_desc {
	text-align: center;
	font-size: 25px;
	padding-bottom: 250px;
}
/*Coming Soon Text*/

/*Portfolio*/

.col-md-4 {

	padding-left:20px;
	padding-right:20px;
}

.portfolio_row {
	margin-top: 50px;
}

.portfolio_row_last {
	margin-bottom: 50px;
}

.portfolio_row .col-md-4 img:hover {
	opacity: 1;
	-webkit-transition: opacity .4s; /* For Safari 3.1 to 6.0 */
    transition: opacity .4s;
}

.portfolio_row .col-md-4 img:hover {
	opacity: .8;
}

.portfolio_row a {
	color:#000;
}

.content_portfolio {
	width:1420px;
	margin:auto;
}

.portfolio_item_description {
	padding-top: 5px;
	width:293px;
	text-align: center;
	font-size: 19px;

}

.portfolio_article_head {
	padding-top: 20px;
	font-size: 30px;
}

.portfolio_article_subhead {
	padding-top: 20px;
	font: 300 25px "Lato",helvetica,arial,sans-serif;
	padding-bottom: 20px;
}

.portfolio_article_subhead strong {
	font-weight: 700;
}

.portfolio_para {
	color: #6A6A6A;
	font: 300 18px/2em "Lato",helvetica,arial,sans-serif;
	padding-bottom: 27px;
}

.first_para {
	padding-top: 55px;
}

.last_para {
	padding-bottom: 50px;
}

.content_portfolio .sub_strong {
	font-size: 20px;
}

.portfolio_center_img {
	padding-top: 30px;
	text-align: center;
}

.portfolio_center_img img {
	width: 100%;
}

.portfolio_center_youtube {
	margin-top: 20px;
	position: relative;
	padding-top: 25px;
	padding-bottom: 56.25%;
	text-align: center;
	height: 0;
	width:100%;
}

.portfolio_center_youtube iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


/* /Portfolio*/

/*Contact Form*/
.contact_form_area {
	padding: 50px 0px 50px 0px;
	float:left;
	width:50%;
}

.contact_desc_area {
	padding: 50px 0px 50px 100px;
	float:right;
	width:50%;
}

/*Contact Form*/

/* Footer */
footer {
	width:100%;
	height:70px;
	background-color: #292D37;
}

.footer_inner {
	width:1000px;
	margin: auto;
	height:70px;
}

#footer_text {
	float:left;
	line-height: 70px;
	color: white;
}

#social_footer {
	float: right;
}

#social_footer ul {
	padding: 0;
	margin:0;
	list-style-type: none;
}

#social_footer li {
	display: inline !important;
	line-height: 70px;

}

#social_footer li a img {
	width:30px;
}

/* /Footer */


/*Responsive */
@media screen and (max-width: 1430px) {
	.content_portfolio{
		width:100%;
		padding:20px;
	}
}

@media screen and (max-width: 1018px) {
	body{
		overflow-x: hidden;
	}

    .footer_inner{
    	width:100%;
    	padding-left: 20px;
    	padding-right: 20px;
    }

    #my_skills{
		visibility: hidden;
		padding:0;
		margin:0;
		height:0px;
	}

	.line_break{
		width: 100%;
		visibility: hidden;
	}
}

@media screen and (max-width: 990px) {
	body{
		overflow-x: hidden;
	}

	header .header_text .main_heading{
		width: 100%;
		margin-left:auto;
		margin-right:auto;
		padding-top:170px;
	}

	.sub_page_header .header_text .main_heading{
		width: 100%;
		margin-left:auto;
		margin-right:auto;
		padding-top:140px;
	}

    header .header_text .main_heading h1{
		font-size: 28px;
	}

	.sub_page_header .header_text .main_heading h1{
		font-size: 28px;
	}

	.content{
		width:100%;
		margin:auto;
		padding-left: 10px;
		padding-right: 10px;
	}

	.content #about_me p{
		width:	100%;
		padding-left: 10px;
		padding-right: 10px;
	}

	header .menu{
		visibility: hidden;
	}

	.sub_page_header .menu{
		visibility: hidden;
	}

	.skills_header{
		width: 100%;
		padding-left: 56px;
		text-align: center;
	}

	.skills_col_header{
		visibility: hidden;
		padding: 0;
	}

	.col-md-4{
		text-align: center;
	}

	ul{
		list-style-type: none;
	}

	.contact_desc_area{
		visibility: hidden;
		width: 0px;
		height: 0px;
		position: fixed;
	}

	.contact_form_area{
		width: 100%;
		padding: 30px;
	}

	.cta_buttons{
		visibility: hidden;
	}

	.home_cta{
		visibility: hidden;
	}

	.line_break, .line_break .current-project-line-break{
		margin:0;
		margin-top: 0;
	}


}

/* Alerts */
.alert-danger{
	background-color: pink;
}

/* Contact Form Success*/
.contact-message-success h2{
	font-family: sans-serif;
}

.resume_object{
	font-size: 22px;
}

.sm_object{
	font-size: 18px;
}

.tiny_object{
	font-size: 12px;
}

.resume_section h3{
	font-size: 31px;
	font-weight: bold;
}

.resume_section{
	padding-bottom: 10px;
}

.resume_about{
	width:100%;
	padding-top: 30px;
	padding-bottom: 20px;
}

.resume_about h3{
	font-size: 30px;
	font-weight: bold;
}

.resume_left{
	float: right;
	width: 400px;
}

.resume_right{
	padding-right: 70px;
	width: 600px;
}

.resume_line_break{
	width:100%;
	background-color: black;
	margin-top: -6px;
	margin-bottom: 8px;
}

.cta_resume{
	margin-bottom: 70px;
}

.cta_resume .button:hover{
	color:white;
	background-color: #000;
}

.contactDetail{
	margin-bottom: 5px;
	font-size:16px;
}

.contactLink{
	color: black;
}

.contactLink:hover{
	color: #EB974E;
}

.about_paragraph{
	padding-bottom: 10px;
	padding-top: 10px;
}